.mode-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
  .circle {
      width: 20px; /* Diameter of the circle */
      height: 20px; /* Diameter of the circle */
      border-radius: 50%; /* Makes the div a circle */
      border: 0.5px solid black; 
      display: flex;
      align-items: center;
      justify-content: center;
     
  }
  footer {
      padding: 10px;
  }
  
  ul.footer-list {
      list-style: none; /* Removes bullet points */
      padding: 0;
      margin: 0;
      display: flex; /* Aligns items horizontally */
      gap: 15px; /* Spacing between items */
  }
  
  ul.footer-list li {
      margin: 0; /* Removes default margin */
  }
  .footer-button {
      border: none; /* Removes border */
      background: none; /* Removes background color */
      padding: 0; /* Removes padding */
      font: inherit; /* Inherits font from parent */
      cursor: pointer; /* Makes button clickable */
      
  }
